/* for back button to appear at top right of page */
#back {
    position: absolute; 
    top: 5%; 
    right: 10%; 
}

/* for h1 on questions page */

.pleasure, .business, .results {
    margin-top: 100px; 
}
#content {
    width: 290px; 
    float: left; 
    padding: 5px 15px; 
}
#middle {
    width: 294px; 
    float: left; 
    padding: 5px 15px; 
    margin: 0px 5px 5px 5px; 
}
#sidebar {
    width: 270px; 
    padding: 5px 15px; 
    float: left; 
}
#content-2 {
    width: 190px; 
    float: left; 
    padding: 5px 15px:
}

h2 {
    background-color: #3FBFBF; 
    width: 10%; 
}
.documentation, .before {
    width: 30%;
}
#location {
    width: 35%; 
}
.pleasure, .business {
    margin-left: 270px; 
}
.hero {
    padding: 20px; 
    margin-left: 10px; 
}

#pleasure-questions, #business-questions {
    margin-top: 35px;
    margin-left: 500px; 
}
#home {
  font-size: 70px;
  font-weight: 0px;
  line-height: ;
}

#duration {
    width: 19%;  
}

.results {
    margin-left: 360px; 
}

#results {
    margin-top: 20px; 
    margin-left: 140px; 
}

#results-2 {
    margin-top: 20px; 
    margin-left: 320px; 
}